/*heade*/

$ds:600px;


@mixin ds-size {
     @media (min-width:$ds) {
          //600px以上になったらサイズ変更
          @content
     }
}



header {
     position: relative;
     margin-bottom: .5rem;

     video {
          object-fit: cover;
          object-position: center top;
          opacity: var(--video-opacity);
          width: 100vw;
          height: 90vh;
     }

     .header-text {
          z-index: 2;
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100vw;
          height: 90vh;
     }

     .header-title {
          font-size: 2rem;
     }

     .header-name {
          font-size: 4rem;
          margin-bottom: 1rem;

          @include ds-size {
               font-size: 5rem;
          }
     }

     .header-pattern {
          position: absolute;
          z-index: 1;
          background-size: auto auto;
          background-image: repeating-linear-gradient(0deg, transparent, transparent 4px, var(--bg) 2px, var(--bg) 4px);
          width: 100vw;
          height: 90vh;
     }

     .header-link {
          font-size: 1.25rem;
     }
}