@use "sass/layout/header";
@use "sass/layout/main";
@use "sass/layout/variables"as v;

/*カラーの変数で、これをもともと設定している*/
:root {
     --text: #333;
     --bg: #fff;
     --video-opacity: .7;
}

/*CSSダークモードのメディアクエリーはここに追加しました*/
@media (prefers-color-scheme: dark) {


     /*ダークモードにした時のカラー*/
     :root {
          --text: #ddd;
          --bg: #000;
          --video-opacity: .7;
     }
}

/*上記のカラーをbodyタグで設定しています*/
body {
     color: var(--text);
     background: var(--bg);
     font-family: 'Bree Serif', sans-serif;
     transition: .5s;
}

p {
     line-height: 1.7;
}