@charset "UTF-8";
/*heade*/
header {
  position: relative;
  margin-bottom: 0.5rem;
}
header video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  opacity: var(--video-opacity);
  width: 100vw;
  height: 90vh;
}
header .header-text {
  z-index: 2;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  height: 90vh;
}
header .header-title {
  font-size: 2rem;
}
header .header-name {
  font-size: 4rem;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  header .header-name {
    font-size: 5rem;
  }
}
header .header-pattern {
  position: absolute;
  z-index: 1;
  background-size: auto auto;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, var(--bg) 2px, var(--bg) 4px);
  width: 100vw;
  height: 90vh;
}
header .header-link {
  font-size: 1.25rem;
}

/*main*/
.grid {
  display: grid;
  width: 94vw;
  margin: 0 auto 3vw;
  gap: 2vw;
  grid-template-columns: repeat(2, 46vw);
  grid-template-rows: repeat(8, 46vw);
}
.grid .grid-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.grid .grid-big-top {
  grid-column: 1/3;
  grid-row: 2/3;
}
.grid .grid-big-bottom {
  grid-column: 1/3;
  grid-row: 6/7;
}

.lum-lightbox.lum-open {
  z-index: 4;
}

.lum-lightbox-inner img {
  max-width: 120vw;
  max-height: 80vh;
}

/*レスポンシブ*/
@media (min-width: 600px) {
  .grid {
    width: 80vw;
    gap: 1vw;
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: repeat(5, 26vw);
  }
  .grid .grid-item {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .grid .grid-item:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 3;
    position: relative;
    -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  }
  .grid .grid-big-bottom {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}
/*カラーの変数で、これをもともと設定している*/
:root {
  --text: #333;
  --bg: #fff;
  --video-opacity: .6;
}

/*CSSダークモードのメディアクエリーはここに追加しました*/
@media (prefers-color-scheme: dark) {
  /*ダークモードにした時のカラー*/
  :root {
    --text: #ddd;
    --bg: #000;
    --video-opacity: .7;
  }
}
/*上記のカラーをbodyタグで設定しています*/
body {
  color: var(--text);
  background: var(--bg);
  font-family: "Bree Serif", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  line-height: 1.7;
}

/*footer*/
footer {
  text-align: center;
  margin-bottom: 3rem;
}
footer .footer-link {
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */